  <!DOCTYPE html>
  <html>
    <head>
      <title>My Music List!</title>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
      <h1>Favorite Albums!</h1>
      <ul>
        <li><img src='~https://f4.bcbits.com/img/a2291861303_5.jpg'/></li>
        <li><img src='~https://images-na.ssl-images-amazon.com/images/I/51IEeGX9WGL._SY400_.jpg'/></li>
        <li><img src='~https://www.nocleansinging.com/wp-content/uploads/2019/08/Shokran-Ethereal-e1565884555689.jpg'/></li>
      </ul>
    </body>
  </html>