@{
  Layout = "_Layout";
}

<h1>MUSIC ORGANIZER</h1>
<h3><a href='/artists'>View Artists</a></h3>
@* <h3><a href='/categories'>View Records</a></h3> *@
<h3><a href='/artists/new'>Add a new Artist</a></h3>