@{
  Layout = "_Layout";
}

<h1>Music Organizer album Details: </h1>

<h2>@Model["item"].Name</h2>
<h3>artist: @Model["artist"].Name</h3>
<h4>album type: @Model["artist"].Type</h4>

<a href='/artists/@Model["artist"].Id/albums/new'>Add another album</a>
<a href='/artists'>View all artists</a>