body {
  background-color: rgb(215, 226, 247);
  margin: 0 auto;
  max-width: 1200px;
}

div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}