@{
  Layout = "_Layout";
}

@using MusicOrganizer.Models;

<h3>Here are all the albums for this artist:</h3>

<ol>
@foreach (Album album in @Model["albums"])
{
  <li><a href='/artists/@Model["artist"].Id/albums/@album.Id'>@album.Name</a></li>
}
</ol>

<p><a href='/artists/@Model["artist"].Id/artists/new'>Add a new artist</a></p>
<p><a href='/artists'>Return to artist list</a></p>
<p><a href='/'>Return to Main Page</a></p>